* {
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

body {
	height: 100%;
}

#outerwrapper{
	display: grid;
	width: 100%;
	height: 100%;
	overflow: hidden;
	grid-template-columns: 14em 1fr;
	grid-template-rows: 1fr 1.5em;
	grid-template-areas: "picker cardarea"
	"footer footer";
}

@media (max-width: 30em) {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "picker";
}

#mainmenu {
	grid-area: picker;
}

#cardarea {
	grid-area: cardarea;
	overflow: auto;
}

outerwrapper>footer {
	grid-area: footer;
	border-top: 1px solid black;
}

aside {
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 1.2em;
	border-right: 1px solid black;
}

#controls {
	background-color: #999;
}

.image_square {
	/* centered and cropped - keep aspect ratio */
	object-fit: cover;
}

#peoplepicker {
	>div {
		cursor: default !important;
		position: relative;
		border-bottom: 1px dotted gray;
		width: 100%;
		height: 2em;
		&:hover {
			background-color: lightgray;
		}
		&.active {
			background-color: lightblue;
			&:hover {
				background-color: #aaf;
			}
		}
		.image {
			display: inline-block;
			width: 1.8em;
			height: 1.8em;
			margin: 0.1em;
			border-radius: 10%;
			background: grey;
		}
		span {
			width: calc(100% - 4em);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.labels {
			display: inline-block;
			position: absolute;
			left: 2em;
			width: 12em;
			* {
				position: absolute;
			}
			.additional {
				top: 2.4em;
				font-size: 0.5em;
			}
		}
		.actions {
			display: inline-block;
			position: absolute;
			right: 0.2em;
			* {
				color: gray;
				&:hover {
					color: red;
				}
			}
			.delete:after {
				content: '✕';
			}
		}
	}
}

#cardarea {
	>header {
		width: 100%;
		background-color: #ddd;
		border-bottom: 1px dotted black;
	}
	.property {
		margin-bottom: 0.3em;
		* {
			display: block;
		}
		.label {
			font-size: 0.8em;
			font-weight: bold;
		}
		.info {
			font-size: 0.6em;
			font-style: italic;
			color: gray;
		}
		.value {
		}
	}
	.photo {
		width: 25%;
		min-width: 10em;
		float: right;
		border-radius: 10%;
	}
}

#editview-textarea {
	display: block;
	width: 100%;
	height: 30em;
}

@media print {
	#controls, #peoplepicker {
		display: none;
	}
	#cardarea>header {
		display: none;
	}
}
